<div class="col position-list">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Vessel</th>
        <th scope="col">BLT</th>
        <th scope="col">Type</th>
        <th scope="col">Teu</th>
        <th scope="col">@14T</th>
        <th scope="col">Rfr</th>
        <th scope="col">Dwt</th>
        <th scope="col">Draft</th>
        <th scope="col">GEAR</th>
        <th scope="col">LOA</th>
        <th scope="col">Beam</th>
        <th scope="col">Spd/Con</th>
        <th scope="col">Place</th>
        <th scope="col">OpenDate</th>
      </tr>
    </thead>
    <tbody>
      {{#each vessels}}
      <tr class="table-info" onclick="window.location='/vessels/{{{this.IMONumber}}}';">
        <th scope="row">
          {{{this.name}}}
        </th>
        <td>{{{this.blt}}}</td>
        <td>{{{this.type}}}</td>
        <td>{{{this.teu}}}</td>
        <td>{{{this.homo}}}</td>
        <td>{{{this.reefer}}}</td>
        <td>{{{this.dwt}}}</td>
        <td>{{{this.draft}}}</td>
        <td>{{{this.gear}}}</td>
        <td>{{{this.loa}}}</td>
        <td>{{{this.beam}}}</td>
        <td>{{{this.spdcon}}}</td>
        <td>{{{this.place}}}</td>
        <td>{{{this.opendate}}}</td>
        </a>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/positionList?page={{prev}}" aria-label="Previous">&laquo;</a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/positionList?page={{this}}">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/positionList?page={{next}}" aria-label="Next">&raquo;</a>
      </li>
    </ul>
  </div>
</div>