<div class="container mt-5">
  <div class="row" id="search-bar">
    <div class="col-8">
      <form action="/positionlist">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" placeholder="Enter vessel name to search..."
            aria-label="Vessel Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-secondary" onclick="history.back()">back</button>
    </div>
  </div>
</div>


<div class="col position-list">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Vessel</th>
        <th scope="col">BLT</th>
        <th scope="col">Type</th>
        <th scope="col">Teu</th>
        <th scope="col">@14T</th>
        <th scope="col">Rfr</th>
        <th scope="col">Dwt</th>
        <th scope="col">Draft</th>
        <th scope="col">GEAR</th>
        <th scope="col">LOA</th>
        <th scope="col">Beam</th>
        <th scope="col">Spd/Con</th>
        <th scope="col">Place</th>
        <th scope="col">OpenDate</th>
      </tr>
    </thead>
    <tbody>
      {{#each vessels}}
      <tr class="table-info">
        <th scope="row">
          <a href="/vessels/{{{this.id}}}">{{{this.name}}}</a>
        </th>
        <td>{{{this.blt}}}</td>
        <td>{{{this.type}}}</td>
        <td>{{{this.teu}}}</td>
        <td>{{{this.homo}}}</td>
        <td>{{{this.reefer}}}</td>
        <td>{{{this.dwt}}}</td>
        <td>{{{this.draft}}}</td>
        <td>{{{this.gear}}}</td>
        <td>{{{this.loa}}}</td>
        <td>{{{this.beam}}}</td>
        <td>{{{this.spdcon}}}</td>
        <td>{{{this.place}}}</td>
        <td>{{{this.opendate}}}</td>
        </a>
      </tr>
      {{/each}}
    </tbody>
  </table>

  {{#if totalPage}}
  <div class="container">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/positionList?page={{prev}}" aria-label="Previous">&laquo;</a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/positionList?page={{this}}">{{this}}</a>
      </li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item">
        <a class="page-link" href="/positionList?page={{next}}" aria-label="Next">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
{{/if}}